<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<%= link_to "Advanced Search", new_searching_path %>

<!--search-->
<div id="search_idol">
  <%= form_tag books_path, :method => 'get', :id => 'books_search' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
  <% end %>
</div>
<!---->

<div id="books"></div>

<script>
  $(function () {
    var last_keyword = "";
    if (last_keyword != keyword && keyword.length > 0) {
      $("#books").html("<%= escape_javascript(render("books")) %>");
    }
  });
</script>


<br>
<%= link_to 'New Book', new_book_path %>


<!--<div class="row">-->

<!--<div id="search_fandom" class="search_form">-->
<!--<div class="search">-->
<!--<div class="wrap_input">-->
<!--<span class="icon glyphicon glyphicon-search"></span>-->
<!--<input type="text" placeholder="어떤 아이돌을 좋아하세요?">-->
<!--</div>-->
<!--</div>-->
<!--<div class="result" style="display: none;"></div>-->

<!--<a href="#" class="currentFandom">-->
<!--<div class="elem">-->
<!--<div class="thum">-->
<!--<img src="">-->
<!--</div>-->
<!--<div class="desc"></div>-->
<!--</div>-->
<!--</a>-->

<!--<a href="/">-->
<!--<div class="elem idolFandom">-->
<!--<div class="thum"></div>-->
<!--<div class="desc">아이돌 팬덤</div>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!---->
<!--<script type="text/javascript">-->
<!--//    var url = "/" + "process/search/fandom"; //controller 부분인거같다. ???-->
<!--//    var last_keyword = ""; //빈칸-->
<!--//    $('#search_fandom .result').html('').hide(); // 결과  보여주는 곳 default는 안보이게-->
<!--//    $('#search_fandom input').keyup(function(e){-->
<!--//      // 사용자 키보드 입력에 따라 발생하는 알림은 키보드 이벤트로 처리합니다. 키보드 이벤트는 세 가지입니다.-->
<!--////      keydown : 키를 누를 때 발생-->
<!--////      keypress : 글자를 입력할 때 발생-->
<!--////      keyup : 키로부터 손가락을 뗄 때 발생-->
<!--//-->
<!--//      var keyword = $(this).val(); //input 된 값.-->
<!--//      var press_enter = e.which == 13; //enter 했는지 확인-->
<!--//-->
<!--//      if(last_keyword != keyword && keyword.length > 0){ // 입력값이 빈칸이 아니고, length가 0 이상이면-->
<!--//        last_keyword = keyword; //뭐지?!?!-->
<!--//        $.post(url, {keyword : keyword}, function(result){ //url, data, success 임-->
<!--//          result = $.trim(result); //결과값 result라 하고,-->
<!--//          if(result < 10){ //뭐지?!?! 결과가 왜 string 이지?!-->
<!--//            $('#search_fandom .result').html('').hide();-->
<!--//          }else{-->
<!--//            $('#search_fandom .result').html(result).show();-->
<!--//            if(press_enter){-->
<!--//              goFoundFandom();-->
<!--//            }-->
<!--//          }-->
<!--//        });-->
<!--//      }else{-->
<!--//        if(press_enter){-->
<!--//          goFoundFandom();-->
<!--//        }-->
<!--//      }-->
<!--//    });-->
<!--//-->
<!--//    function goFoundFandom(){-->
<!--//      var results = $('#search_fandom .result .elem');-->
<!--//      if(results.size() == 1){-->
<!--//        document.location.href = $('#search_fandom .result .elem').parent().attr('href');-->
<!--//      }-->
<!--//    }-->
<!--</script>-->

<!--</div>-->
